#NET CLK_50MHZ TNM_NET=CLK_50MHZ |LOC="A10"  |IOSTANDARD = LVTTL;
#TIMESPEC TS_CLK_50MHZ = PERIOD CLK_50MHZ 20.00 ns HIGH 50%;

NET "CLK_50MHZ" LOC = A10;
NET "CLK_50MHZ" IOSTANDARD = LVTTL;
NET "CLK_50MHZ" CLOCK_DEDICATED_ROUTE = FALSE;


#NET RX       	LOC="P101" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;          # RX
#NET TX       	LOC="P105" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP;  # TX
NET RX_EXT    	LOC="R5" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;          # C13
NET TX_EXT    	LOC="T5" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP;  # C15
NET SDRAM_ADDR<0>     LOC="L4"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<1>     LOC="M3"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<2>     LOC="M4"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<3>     LOC="N3"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<4>     LOC="R2"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<5>     LOC="R1"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<6>     LOC="P2"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<7>     LOC="P1"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<8>     LOC="N1"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<9>     LOC="M1"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<10>    LOC="L3"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<11>    LOC="L1"  | IOSTANDARD = LVTTL;
NET SDRAM_ADDR<12>    LOC="K1"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<0>     LOC="A3"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<1>     LOC="A2"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<2>     LOC="B3"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<3>     LOC="B2"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<4>     LOC="C3"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<5>     LOC="C2"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<6>     LOC="D3"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<7>     LOC="E3"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<8>     LOC="G1"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<9>     LOC="F1"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<10>    LOC="F2"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<11>    LOC="E1"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<12>    LOC="E2"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<13>    LOC="D1"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<14>    LOC="C1"  | IOSTANDARD = LVTTL;
NET SDRAM_DATA<15>    LOC="B1"  | IOSTANDARD = LVTTL;
NET SDRAM_DQML        LOC="F3"  | IOSTANDARD = LVTTL;
NET SDRAM_DQMH        LOC="H2"  | IOSTANDARD = LVTTL;
NET SDRAM_BA<0>       LOC="K3"  | IOSTANDARD = LVTTL;
NET SDRAM_BA<1>       LOC="K2"  | IOSTANDARD = LVTTL;
NET SDRAM_nWE         LOC="G3"  | IOSTANDARD = LVTTL;
NET SDRAM_nCAS        LOC="H3"  | IOSTANDARD = LVTTL;
NET SDRAM_nRAS        LOC="J4"  | IOSTANDARD = LVTTL;
NET SDRAM_nCS         LOC="J3"  | IOSTANDARD = LVTTL;
NET SDRAM_CLK         LOC="H1"  | IOSTANDARD = LVTTL;
NET SDRAM_CKE         LOC="J1"  | IOSTANDARD = LVTTL;

NET "VGA_R<5>" LOC = "G11" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C7  - 0.5K || 10K
NET "VGA_R<4>" LOC = "F13" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C6  - 1K
NET "VGA_R<3>" LOC = "F14" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C5  - 2K
NET "VGA_R<2>" LOC = "G14" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C4  - 4K
NET "VGA_R<1>" LOC = "G16" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C14 - 8K
NET "VGA_R<0>" LOC = "H15" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C12 - 16K
NET "VGA_G<5>" LOC = "B16" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B7  - 0.5K || 10K
NET "VGA_G<4>" LOC = "C16" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B6  - 1K
NET "VGA_G<3>" LOC = "D16" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B5  - 2K
NET "VGA_G<2>" LOC = "E16" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B4  - 4K
NET "VGA_G<1>" LOC = "F16" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B13 - 8K
NET "VGA_G<0>" LOC = "F12" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B12 - 16K
NET "VGA_B<5>" LOC = "E12" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B3  - 0.5K || 10K
NET "VGA_B<4>" LOC = "B15" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B2  - 1K
NET "VGA_B<3>" LOC = "C15" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B1  - 2K
NET "VGA_B<2>" LOC = "D14" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B0  - 4K
NET "VGA_B<1>" LOC = "E15" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B15 - 8K
NET "VGA_B<0>" LOC = "F15" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#B14 - 16K
NET "VGA_HSYNC" LOC = "G12" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C3  - 75
NET "VGA_VSYNC" LOC = "H16" 	|IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST ;	#C2  - 75

NET "LED<1>"  LOC = "R9" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 |PULLDOWN ;	#A1  - 330
NET "LED<0>"  LOC = "T9" |IOSTANDARD = LVTTL |SLEW = SLOW |DRIVE = 8 |PULLDOWN ;	#A2  - 330
NET "BTN<1>"  LOC = "R7" |IOSTANDARD = LVTTL |PULLUP ;	#B10 - to +
NET "BTN<0>"  LOC = "T8" |IOSTANDARD = LVTTL |PULLUP ;	#B8  - to +

NET "PS2DATA"	LOC="P12"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP; # C0
NET "PS2CLKA"	LOC="M11"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP; # C1
NET "PS2DATB"	LOC="P11"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP; # A12
NET "PS2CLKB"	LOC="M10"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW |PULLUP; # A13
NET "AUDIO_L"	LOC="H11"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW;          # A14
NET "AUDIO_R"	LOC="H13"  |IOSTANDARD = LVTTL |DRIVE=8 |SLEW=SLOW;          # A15
NET "SD_nCS"	LOC = "N9" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;	  #A11
NET "SD_DO"		LOC = "T7" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;	  #| PULLUP;			          #MISO	
NET "SD_DI"		LOC = "M9" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;   #MOSI
NET "SD_CK"		LOC = "T6" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;	  #CLK

//¿Joy?
#NET GPIO(0)		LOC = "P123" |IOSTANDARD = LVTTL |SLEW = SLOW |PULLUP;	#C08
#NET GPIO(1)		LOC = "P124" |IOSTANDARD = LVTTL |SLEW = SLOW |PULLUP;	#C09
#NET GPIO(2)		LOC = "P126" |IOSTANDARD = LVTTL |SLEW = SLOW |PULLUP;	#C10
#NET GPIO(3)		LOC = "P127" |IOSTANDARD = LVTTL |SLEW = SLOW |PULLUP;	#C11

#Created by Constraints Editor (xc6slx9-tqg144-2) - 2015/06/25
#TIMESPEC TS_TIGx0 = FROM "sys_inst_dcm_cpu_inst_clkfx" TO "sys_inst_dcm_system_clkout0" TIG;
#TIMESPEC TS_TIGx1 = FROM "sys_inst_dcm_cpu_inst_clkfx" TO "sys_inst_dcm_system_clkout1" TIG;
#TIMESPEC TS_TIGx3 = FROM "sys_inst_dcm_cpu_inst_clkfx" TO "sys_inst_dcm_system_clkout3" TIG;
#TIMESPEC TS_TIG10 = FROM "sys_inst_dcm_system_clkout1" TO "sys_inst_dcm_system_clkout0" TIG;
#TIMESPEC TS_TIG01 = FROM "sys_inst_dcm_system_clkout0" TO "sys_inst_dcm_system_clkout1" TIG;
#TIMESPEC TS_TIG1x = FROM "sys_inst_dcm_system_clkout1" TO "sys_inst_dcm_cpu_inst_clkfx" TIG;
#TIMESPEC TS_TIG0x = FROM "sys_inst_dcm_system_clkout0" TO "sys_inst_dcm_cpu_inst_clkfx" TIG;
#TIMESPEC TS_TIG3x = FROM "sys_inst_dcm_system_clkout3" TO "sys_inst_dcm_cpu_inst_clkfx" TIG;
#TIMESPEC TS_TIGx4 = FROM "sys_inst_dcm_cpu_inst_clkfx" TO "sys_inst_dcm_system_clkout4" TIG;
#TIMESPEC TS_TIG4x = FROM "sys_inst_dcm_system_clkout4" TO "sys_inst_dcm_cpu_inst_clkfx" TIG;
#TIMESPEC TS_TIGxy = FROM "sys_inst_dcm_cpu_inst_clkfx" TO "sys_inst_dcm_dsp_inst_clkfx" TIG;
#TIMESPEC TS_TIGyx = FROM "sys_inst_dcm_dsp_inst_clkfx" TO "sys_inst_dcm_cpu_inst_clkfx" TIG;

#INST "sys_inst/cpuunit/cpu/*" TNM = TNM_CPU;
#TIMESPEC TS_CE_SLOW = FROM TNM_CPU TS_sys_inst_dcm_cpu_inst_clkfx * 2;

#INST "sys_inst/sc/planarreq" TNM = TNM_PLANAR;
#TIMESPEC TS_TIG1 = FROM TNM_PLANAR TIG;