# ZX-UNO LX16 UCF

# Clocks
NET "clock_50"         LOC="A10" | IOSTANDARD = LVCMOS33 | PERIOD = 50 MHz;

# Leds
NET "BTN"             LOC = "T8" |IOSTANDARD = LVCMOS33 | PULLUP;
NET "LED<0>"             LOC="T9"  | IOSTANDARD = LVCMOS33;
NET "LED<1>"             LOC="R9"  | IOSTANDARD = LVCMOS33;
#NET "BTN1"             LOC = "R7" |IOSTANDARD = LVTTL |PULLUP ;

# Keyboard and mouse
NET "ps2_clk"         LOC="M11" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "ps2_dat"         LOC="P12" | IOSTANDARD = LVCMOS33 | PULLUP;

# Video output
NET "vga_hs"          LOC="G12"  | IOSTANDARD = LVCMOS33;
NET "vga_vs"          LOC="H16"  | IOSTANDARD = LVCMOS33;
NET "vga_b<3>"        LOC="E12"   | IOSTANDARD = LVCMOS33;
NET "vga_b<2>"        LOC="B15"   | IOSTANDARD = LVCMOS33;
NET "vga_b<1>"        LOC="C15"   | IOSTANDARD = LVCMOS33;
NET "vga_b<0>"        LOC="D14"   | IOSTANDARD = LVCMOS33;
NET "vga_r<3>"        LOC="G11"   | IOSTANDARD = LVCMOS33;
NET "vga_r<2>"        LOC="F13"   | IOSTANDARD = LVCMOS33;
NET "vga_r<1>"        LOC="F14"   | IOSTANDARD = LVCMOS33;
NET "vga_r<0>"        LOC="G14"   | IOSTANDARD = LVCMOS33;
NET "vga_g<3>"        LOC="B16"   | IOSTANDARD = LVCMOS33;
NET "vga_g<2>"        LOC="C16"   | IOSTANDARD = LVCMOS33;
NET "vga_g<1>"        LOC="D16"   | IOSTANDARD = LVCMOS33;
NET "vga_g<0>"        LOC="E16"   | IOSTANDARD = LVCMOS33;

# Audio
NET "pwm_audio_out_l"  LOC="H11"  | IOSTANDARD = LVCMOS33;
NET "pwm_audio_out_r"  LOC="H13"  | IOSTANDARD = LVCMOS33;

# SD/MMC
NET "sd_spi_cs_n"         LOC="N9"   | IOSTANDARD = LVCMOS33; #sd_spi_cs_n #sd_dat3
NET "sd_spi_sclk"           LOC="T6"   | IOSTANDARD = LVCMOS33; #sd_spi_sclk #sd_clk
NET "sd_spi_mosi"         LOC="M9"   | IOSTANDARD = LVCMOS33; #sd_spi_mosi #sd_cmd
NET "sd_spi_miso"         LOC="T7"   | IOSTANDARD = LVCMOS33; #sd_spi_miso #sd_dat

# SRAM
NET SDRAM_A<0>     LOC="L4"  | IOSTANDARD = LVTTL;
NET SDRAM_A<1>     LOC="M3"  | IOSTANDARD = LVTTL;
NET SDRAM_A<2>     LOC="M4"  | IOSTANDARD = LVTTL;
NET SDRAM_A<3>     LOC="N3"  | IOSTANDARD = LVTTL;
NET SDRAM_A<4>     LOC="R2"  | IOSTANDARD = LVTTL;
NET SDRAM_A<5>     LOC="R1"  | IOSTANDARD = LVTTL;
NET SDRAM_A<6>     LOC="P2"  | IOSTANDARD = LVTTL;
NET SDRAM_A<7>     LOC="P1"  | IOSTANDARD = LVTTL;
NET SDRAM_A<8>     LOC="N1"  | IOSTANDARD = LVTTL;
NET SDRAM_A<9>     LOC="M1"  | IOSTANDARD = LVTTL;
NET SDRAM_A<10>    LOC="L3"  | IOSTANDARD = LVTTL;
NET SDRAM_A<11>    LOC="L1"  | IOSTANDARD = LVTTL;
NET SDRAM_A<12>    LOC="K1"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<0>    LOC="A3"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<1>    LOC="A2"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<2>    LOC="B3"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<3>    LOC="B2"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<4>    LOC="C3"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<5>    LOC="C2"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<6>    LOC="D3"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<7>    LOC="E3"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<8>    LOC="G1"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<9>    LOC="F1"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<10>   LOC="F2"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<11>   LOC="E1"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<12>   LOC="E2"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<13>   LOC="D1"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<14>   LOC="C1"  | IOSTANDARD = LVTTL;
NET SDRAM_DQ<15>   LOC="B1"  | IOSTANDARD = LVTTL;
NET SDRAM_DQML     LOC="F3"  | IOSTANDARD = LVTTL;
NET SDRAM_DQMH     LOC="H2"  | IOSTANDARD = LVTTL;
NET SDRAM_nWE      LOC="G3"  | IOSTANDARD = LVTTL;
NET SDRAM_nCAS     LOC="H3"  | IOSTANDARD = LVTTL;
NET SDRAM_nRAS     LOC="J4"  | IOSTANDARD = LVTTL;
NET SDRAM_nCS      LOC="J3"  | IOSTANDARD = LVTTL;
NET SDRAM_BA<0>    LOC="K3"  | IOSTANDARD = LVTTL;
NET SDRAM_BA<1>    LOC="K2"  | IOSTANDARD = LVTTL;
NET SDRAM_CLK      LOC="H1"  | IOSTANDARD = LVTTL;
NET SDRAM_CKE      LOC="J1"  | IOSTANDARD = LVTTL;

# SRAM
NET "sram_addr<0>"    LOC="H14"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<1>"    LOC="J16"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<2>"    LOC="J11"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<3>"    LOC="J13"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<4>"    LOC="K16"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<5>"    LOC="K11"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<6>"    LOC="L12"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<7>"    LOC="M13"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<8>"    LOC="M15"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<9>"    LOC="N14"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<10>"   LOC="L14"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<11>"   LOC="M14"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<12>"   LOC="K14"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<13>"   LOC="L13"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<14>"   LOC="J12"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<15>"   LOC="T14"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<16>"   LOC="T15"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<17>"   LOC="R14"  | IOSTANDARD = LVCMOS33;
NET "sram_addr<18>"   LOC="R16"  | IOSTANDARD = LVCMOS33;

NET "sram_data<0>"    LOC="K15"  | IOSTANDARD = LVCMOS33;
NET "sram_data<1>"    LOC="N16"  | IOSTANDARD = LVCMOS33;
NET "sram_data<2>"    LOC="L16"  | IOSTANDARD = LVCMOS33;
NET "sram_data<3>"    LOC="K12"  | IOSTANDARD = LVCMOS33;
NET "sram_data<4>"    LOC="J14"  | IOSTANDARD = LVCMOS33;
NET "sram_data<5>"    LOC="P15"  | IOSTANDARD = LVCMOS33;
NET "sram_data<6>"    LOC="P16"  | IOSTANDARD = LVCMOS33;
NET "sram_data<7>"    LOC="R15"  | IOSTANDARD = LVCMOS33;

NET "sram_we_n"       LOC="M16"  | IOSTANDARD = LVCMOS33;

#Joystick
NET "JOY_CLK"  LOC="R12" | IOSTANDARD = LVCMOS33; 
NET "JOY_LOAD" LOC="T12" | IOSTANDARD = LVCMOS33;
NET "JOY_DATA" LOC="T13" | IOSTANDARD = LVCMOS33;

#Video Compuesto
NET "VCOMP" LOC="E13" | IOSTANDARD = LVCMOS33; 