# ZX-UNO v4+ UCF

NET "clk50mhz"       LOC = "P55" | IOSTANDARD = LVCMOS33 | PERIOD = 50 MHz;

NET "ps2_data"      LOC="P98"  | IOSTANDARD=LVCMOS33 | PULLUP;
NET "ps2_clk"       LOC="P99"  | IOSTANDARD=LVCMOS33 | PULLUP;

NET "JOYSTICK(5)"   LOC = "P8" | IOSTANDARD = LVCMOS33 | PULLUP; # Fire
NET "JOYSTICK(4)"   LOC = "P2" | IOSTANDARD = LVCMOS33 | PULLUP; # Fire
NET "JOYSTICK(3)"   LOC = "P7" | IOSTANDARD = LVCMOS33 | PULLUP; # Right
NET "JOYSTICK(2)"   LOC = "P6" | IOSTANDARD = LVCMOS33 | PULLUP; # Left
NET "JOYSTICK(1)"   LOC = "P5" | IOSTANDARD = LVCMOS33 | PULLUP; # Down
NET "JOYSTICK(0)"   LOC = "P1" | IOSTANDARD = LVCMOS33 | PULLUP; # Up

NET "LED"           LOC = "P11" | IOSTANDARD = LVCMOS33;

NET "audio_l"       LOC = "P10"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
NET "audio_r"       LOC = "P9"   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

NET "vga_hsync"		LOC = "P87"	| IOSTANDARD = "LVCMOS33";
NET "vga_vsync"		LOC = "P85"	| IOSTANDARD = "LVCMOS33";
NET "vga_blue<0>"		LOC = "P88"	| IOSTANDARD = "LVCMOS33";
NET "vga_blue<1>"		LOC = "P92"	| IOSTANDARD = "LVCMOS33";
NET "vga_blue<2>"		LOC = "P93"	| IOSTANDARD = "LVCMOS33";
NET "vga_red<0>"		LOC = "P79"	| IOSTANDARD = "LVCMOS33";
NET "vga_red<1>"		LOC = "P80"	| IOSTANDARD = "LVCMOS33";
NET "vga_red<2>"		LOC = "P81"	| IOSTANDARD = "LVCMOS33";
NET "vga_green<0>"	LOC = "P82"	| IOSTANDARD = "LVCMOS33";
NET "vga_green<1>"	LOC = "P83"	| IOSTANDARD = "LVCMOS33";
NET "vga_green<2>"	LOC = "P84"	| IOSTANDARD = "LVCMOS33";

NET "O_NTSC"         LOC = "P66" | IOSTANDARD = LVCMOS33;
NET "O_PAL"          LOC = "P67" | IOSTANDARD = LVCMOS33;

NET "sram_addr<0>"  LOC="P141" |IOSTANDARD = LVCMOS33;
NET "sram_addr<1>"  LOC="P139" |IOSTANDARD = LVCMOS33;
NET "sram_addr<2>"  LOC="P137" |IOSTANDARD = LVCMOS33;
NET "sram_addr<3>"  LOC="P134" |IOSTANDARD = LVCMOS33;
NET "sram_addr<4>"  LOC="P133" |IOSTANDARD = LVCMOS33;
NET "sram_addr<5>"  LOC="P120" |IOSTANDARD = LVCMOS33;
NET "sram_addr<6>"  LOC="P118" |IOSTANDARD = LVCMOS33;
NET "sram_addr<7>"  LOC="P116" |IOSTANDARD = LVCMOS33;
NET "sram_addr<8>"  LOC="P114" |IOSTANDARD = LVCMOS33;
NET "sram_addr<9>"  LOC="P112" |IOSTANDARD = LVCMOS33;
NET "sram_addr<10>" LOC="P104" |IOSTANDARD = LVCMOS33;
NET "sram_addr<11>" LOC="P102" |IOSTANDARD = LVCMOS33;
NET "sram_addr<12>" LOC="P101" |IOSTANDARD = LVCMOS33;
NET "sram_addr<13>" LOC="P100" |IOSTANDARD = LVCMOS33;
NET "sram_addr<14>" LOC="P111" |IOSTANDARD = LVCMOS33;
NET "sram_addr<15>" LOC="P131" |IOSTANDARD = LVCMOS33;
NET "sram_addr<16>" LOC="P138" |IOSTANDARD = LVCMOS33;
NET "sram_addr<17>" LOC="P140" |IOSTANDARD = LVCMOS33;
NET "sram_addr<18>" LOC="P142" |IOSTANDARD = LVCMOS33;
NET "sram_addr<19>" LOC="P105" | IOSTANDARD = LVCMOS33;
NET "sram_addr<20>" LOC="P143" | IOSTANDARD = LVCMOS33;

NET "sram_data<0>" LOC="P132" |IOSTANDARD = LVCMOS33;
NET "sram_data<1>" LOC="P127" |IOSTANDARD = LVCMOS33;
NET "sram_data<2>" LOC="P124" |IOSTANDARD = LVCMOS33;
NET "sram_data<3>" LOC="P123" |IOSTANDARD = LVCMOS33;
NET "sram_data<4>" LOC="P115" |IOSTANDARD = LVCMOS33;
NET "sram_data<5>" LOC="P117" |IOSTANDARD = LVCMOS33;
NET "sram_data<6>" LOC="P119" |IOSTANDARD = LVCMOS33;
NET "sram_data<7>" LOC="P126" |IOSTANDARD = LVCMOS33;

NET "sram_we_n" 	   LOC="P121" |IOSTANDARD = LVCMOS33;

# SD/MMC
NET "spi_cs"         LOC="P59"   | IOSTANDARD = LVCMOS33; #sd_spi_cs_n #sd_dat3
NET "spi_clk"        LOC="P75"   | IOSTANDARD = LVCMOS33; #sd_spi_sclk #sd_clk
NET "spi_mosi"       LOC="P74"   | IOSTANDARD = LVCMOS33; #sd_spi_mosi #sd_cmd
NET "spi_miso"       LOC="P78"   | IOSTANDARD = LVCMOS33; #sd_spi_miso #sd_dat

#JAMMA
NET "JR<3>"     LOC="P51" | IOSTANDARD = LVCMOS33;  #salidas al DAC
NET "JR<2>"     LOC="P50" | IOSTANDARD = LVCMOS33;
NET "JR<1>"     LOC="P47" | IOSTANDARD = LVCMOS33;
NET "JR<0>"     LOC="P46" | IOSTANDARD = LVCMOS33;
NET "JG<3>"     LOC="P40" | IOSTANDARD = LVCMOS33;
NET "JG<2>"     LOC="P35" | IOSTANDARD = LVCMOS33;
NET "JG<1>"     LOC="P33" | IOSTANDARD = LVCMOS33;
NET "JG<0>"     LOC="P32" | IOSTANDARD = LVCMOS33;
NET "JB<3>"     LOC="P23" | IOSTANDARD = LVCMOS33;
NET "JB<2>"     LOC="P17" | IOSTANDARD = LVCMOS33;
NET "JB<1>"     LOC="P24" | IOSTANDARD = LVCMOS33;
NET "JB<0>"     LOC="P21" | IOSTANDARD = LVCMOS33;
NET "JHSYNC"    LOC="P57" | IOSTANDARD = LVCMOS33;  #también CSYNC
NET "JVSYNC"    LOC="P58" | IOSTANDARD = LVCMOS33;  #solo se usa en VGA
NET "JAUDIO"    LOC="P16" | IOSTANDARD = LVCMOS33;  #salida audio
NET "JSELECT"   LOC="P22" | IOSTANDARD = LVCMOS33;  #salida control multiplexor
NET "JJOY<0>"   LOC="P14" | IOSTANDARD = LVCMOS33 | PULLUP;  #entrada multiplexada UP
NET "JJOY<1>"   LOC="P48" | IOSTANDARD = LVCMOS33 | PULLUP;  #entrada multiplexada DOWN
NET "JJOY<2>"   LOC="P56" | IOSTANDARD = LVCMOS33 | PULLUP;  #entrada multiplexada LEFT
NET "JJOY<3>"   LOC="P45" | IOSTANDARD = LVCMOS33 | PULLUP;  #entrada multiplexada RIGHT
NET "JJOY<4>"   LOC="P41" | IOSTANDARD = LVCMOS33 | PULLUP;  #entrada multiplexada BUTN1
NET "JJOY<5>"   LOC="P34" | IOSTANDARD = LVCMOS33 | PULLUP;  #entrada multiplexada BUTN2     
NET "JJOY<6>"   LOC="P30" | IOSTANDARD = LVCMOS33 | PULLUP;  #entrada multiplexada BUTN3     
NET "JJOY<7>"   LOC="P29" | IOSTANDARD = LVCMOS33 | PULLUP;  #entrada multiplexada START    

NET "JCOIN<0>"  LOC="P27" | IOSTANDARD = LVCMOS33 | PULLUP; #entrada directa
NET "JCOIN<1>"  LOC="P43" | IOSTANDARD = LVCMOS33 | PULLUP; #entrada directa
NET "JSERVICE"  LOC="P44" | IOSTANDARD = LVCMOS33 | PULLUP; #entrada directa
NET "JTEST"     LOC="P15" | IOSTANDARD = LVCMOS33 | PULLUP; #entrada directa
