

NET CLK TNM_NET = clk_ref_grp;
TIMESPEC TS01 = PERIOD : clk_ref_grp : 20.0ns : PRIORITY 1;
SYSTEM_JITTER = 0 ns;

NET "CLK"           LOC="P55"  | IOSTANDARD=LVCMOS33;

NET "JOYSTICK(5)"   LOC = "P8" | IOSTANDARD = LVCMOS33 | PULLUP; # Fire2
NET "JOYSTICK(4)"   LOC = "P2" | IOSTANDARD = LVCMOS33 | PULLUP; # Fire1
NET "JOYSTICK(3)"   LOC = "P7" | IOSTANDARD = LVCMOS33 | PULLUP; # Right
NET "JOYSTICK(2)"   LOC = "P6" | IOSTANDARD = LVCMOS33 | PULLUP; # Left
NET "JOYSTICK(1)"   LOC = "P5" | IOSTANDARD = LVCMOS33 | PULLUP; # Down
NET "JOYSTICK(0)"   LOC = "P1" | IOSTANDARD = LVCMOS33 | PULLUP; # Up

NET "O_VSYNC"        LOC = "P85"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_HSYNC"        LOC = "P87"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_VIDEO_G<2>"   LOC = "P84"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_VIDEO_G<1>"   LOC = "P83"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_VIDEO_G<0>"   LOC = "P82"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_VIDEO_B<2>"   LOC = "P93"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_VIDEO_B<1>"   LOC = "P92"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_VIDEO_B<0>"   LOC = "P88"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_VIDEO_R<0>"   LOC = "P79"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_VIDEO_R<1>"   LOC = "P80"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_VIDEO_R<2>"   LOC = "P81"  | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 

NET "O_AUDIO_L"	   LOC="P10"  	 | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET "O_AUDIO_R"  		LOC="P9"     | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;

NET "O_NTSC"         LOC = "P66" | IOSTANDARD = LVCMOS33;
NET "O_PAL"          LOC = "P67" | IOSTANDARD = LVCMOS33;

NET "O_LED"          LOC = "P11" | IOSTANDARD = LVCMOS33;

NET "ps2_data"      LOC="P98"  | IOSTANDARD=LVCMOS33 | PULLUP;
NET "ps2_clk"       LOC="P99"  | IOSTANDARD=LVCMOS33 | PULLUP;

NET "sram_addr<0>"  LOC="P141" |IOSTANDARD = LVCMOS33;
NET "sram_addr<1>"  LOC="P139" |IOSTANDARD = LVCMOS33;
NET "sram_addr<2>"  LOC="P137" |IOSTANDARD = LVCMOS33;
NET "sram_addr<3>"  LOC="P134" |IOSTANDARD = LVCMOS33;
NET "sram_addr<4>"  LOC="P133" |IOSTANDARD = LVCMOS33;
NET "sram_addr<5>"  LOC="P120" |IOSTANDARD = LVCMOS33;
NET "sram_addr<6>"  LOC="P118" |IOSTANDARD = LVCMOS33;
NET "sram_addr<7>"  LOC="P116" |IOSTANDARD = LVCMOS33;
NET "sram_addr<8>"  LOC="P114" |IOSTANDARD = LVCMOS33;
NET "sram_addr<9>"  LOC="P112" |IOSTANDARD = LVCMOS33;
NET "sram_addr<10>" LOC="P104" |IOSTANDARD = LVCMOS33;
NET "sram_addr<11>" LOC="P102" |IOSTANDARD = LVCMOS33;
NET "sram_addr<12>" LOC="P101" |IOSTANDARD = LVCMOS33;
NET "sram_addr<13>" LOC="P100" |IOSTANDARD = LVCMOS33;
NET "sram_addr<14>" LOC="P111" |IOSTANDARD = LVCMOS33;
NET "sram_addr<15>" LOC="P131" |IOSTANDARD = LVCMOS33;
NET "sram_addr<16>" LOC="P138" |IOSTANDARD = LVCMOS33;
NET "sram_addr<17>" LOC="P140" |IOSTANDARD = LVCMOS33;
NET "sram_addr<18>" LOC="P142" |IOSTANDARD = LVCMOS33;
NET "sram_addr<19>" LOC="P105" | IOSTANDARD = LVCMOS33;
NET "sram_addr<20>" LOC="P143" | IOSTANDARD = LVCMOS33;

NET "sram_dq<0>" LOC="P132" |IOSTANDARD = LVCMOS33;
NET "sram_dq<1>" LOC="P127" |IOSTANDARD = LVCMOS33;
#NET "sram_dq<2>" LOC="P124" |IOSTANDARD = LVCMOS33;
#NET "sram_dq<3>" LOC="P123" |IOSTANDARD = LVCMOS33;
#NET "sram_dq<4>" LOC="P115" |IOSTANDARD = LVCMOS33;
#NET "sram_dq<5>" LOC="P117" |IOSTANDARD = LVCMOS33;
#NET "sram_dq<6>" LOC="P119" |IOSTANDARD = LVCMOS33;
#NET "sram_dq<7>" LOC="P126" |IOSTANDARD = LVCMOS33;

NET "sram_we_n" 	   LOC="P121" |IOSTANDARD = LVCMOS33;

#Joy Splitter
NET "joy_split_out"		LOC="P39"   | IOSTANDARD=LVCMOS33; 

#MFH
NET "JOYSTICK_MFH(0)"  	LOC="P26" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "JOYSTICK_MFH(1)"   LOC="P30" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "JOYSTICK_MFH(2)"   LOC="P34" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "JOYSTICK_MFH(3)"   LOC="P41" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "JOYSTICK_MFH(4)"  	LOC="P47" | IOSTANDARD=LVCMOS33 | PULLUP;
NET "JOYSTICK_MFH(5)"  	LOC="P46" | IOSTANDARD=LVCMOS33 | PULLUP;

# EXTERNOS (Fila Central)
#NET "ext_rst"  LOC="P12"  | IOSTANDARD = LVCMOS33 | PULLUP;  #BOTON EXT35
#NET "ext_p1"  LOC="P16"  | IOSTANDARD = LVCMOS33 | PULLUP;  #BOTON EXT32
#NET "ext_p2"  LOC="P22"  | IOSTANDARD = LVCMOS33 | PULLUP;  #BOTON EXT29
#NET "ext_ic" LOC="P26"  | IOSTANDARD = LVCMOS33 | PULLUP;  #BOTON EXT26
